body {
  font-family: "Helvetica", "Lucida Grande", sans-serif;
  color: #3d3d3d;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  background-color: #E1EDF2;
  padding: 10px;
  font-size: 32px;
}

.subtitle {
  border-bottom: 2px solid black;
}

figure {
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  margin: 30px;
  padding: 15px;
}

figcaption {
  margin-top: 10px;
}

.matrix-musicdot {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.family-tupfeln {
  width: 275px;
  float: right;
}

figure img {
  width: 100%;
}

.contact_subtitle {
  display: inline;
}

.contact_info {
  margin: 16px 0 24px;
  padding-left: 32px;
}

.contact_info-title,
.contact_info-description {
  display: inline;
}

.contact_info-description {
  margin-left: 10px;
}

.contact_section {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.contact_section--phone {
  margin-left: 32px;
}

.footer {
  padding: 1.75em 0;
  font-size: 1.1rem;
}

.footer_logo {
  width: 6em;
}

.footer_copyright {
  display: inline;
  margin-left: 1em;
}