body {
  font-family: "Helvetica", "Lucida Grande", sans-serif;
  color: #3d3d3d;
  width: 80%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  background-color: #E1EDF2;
  padding: 10px;
  font-size: 32px;
}

.subtitle {
  border-bottom: 2px solid black;
}

figure {
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  margin: 30px;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
}

figcaption {
  margin-top: 10px;
}

.matrix-musicdot {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.family-tupfeln {
  width: 275px;
  float: right;
}

figure img {
  width: 100%;
}

.contact_subtitle {
  display: inline;
}

.contact_info {
  margin: 16px 0 24px;
  padding-left: 32px;
}

.contact_info-title,
.contact_info-description {
  display: inline;
}

.contact_info-description {
  margin-left: 10px;
}

.contact_section {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.contact_section--phone {
  margin-left: 32px;
}

.footer {
  padding: 1.75em 0;
  font-size: 1.1rem;
}

.footer_logo {
  width: 6em;
}

.footer_copyright {
  display: inline;
  margin-left: 1em;
}

@media (max-width: 850px) {
  .contact_section {
    display: block;
    margin-left: 1em;
  }
}

@media (max-width: 622px) {
  .family-tupfeln {
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 446px) {
  .contact_subtitle {
    display: block;
    margin-bottom: 0;
  }

  .contact_info {
    padding-left: 5px;    
    font-size: .92em;
    border-left: 2px solid lightgray;
  }

  .footer {
    font-size: .92em;
  }
}

@media (max-width: 342px) {
  .contact_info-description {
    display: block;
    margin-left: 1em;
  }
}