.footer {
  text-align: center;
  font-size: 0.7rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer_logo {
  width: 11.25em;
  margin-bottom: 1em;
}

.footer_list-social-media {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.footer_info-company {
  line-height: 1.5;
}

.footer_item-social-media {
  width: 2.62em;
  margin: 0 .25em;
}

.footer_item-social-media img {
  width: 100%;
}

.footer_title {
  font-size: 1.45em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.footer_item-list {  
  font-weight: 500;
  margin: 0.625em 0;
}

@media (max-width: 640px) {
  .footer_section {
    margin-top: 2em;
  }  
}

@media(min-width: 640px) and (max-width: 1200px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
  }

  .footer_section--about,
  .footer_section--courses,
  .footer_section--links,
  .footer_section--newsletter {
    width: 45%;
  }

  .footer_section--courses {
    order: 1;
    margin: 0;
  }

  .footer_section--links {
    order: 2;
    margin: 0;
  }

  .footer_section--about {
    order: 3;
    margin-top: 2em;
  }

  .footer_section--newsletter {
    order: 4;
    margin-top: 2em;
  }
}

@media(min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;    
    text-align: left;
  }

  .footer_title {
    font-size: 1em;
  }

  .footer_list-social-media {
    justify-content: left;
  }

  .footer_section {
    margin-top: 0;
    margin-left: 2em;
  }  
}